@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%; 
}

body {   
  height: 100%; 
  margin: 0;  
  font-family: "PT Sans", sans-serif;  
  font-size: 18px;
  line-height: 21px;  
  background-color: #ffffff;
  color: #000000;   
}

.container {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; 
  min-height: 100%;
  background-color: #ffffff;
  margin: 0 auto;
  width: 1200px;
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);  
  min-height: 100%;
}

.wrapper {
  margin: 0 auto;
  width: 1060px;  
}

.main-container {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/*btn*/
.btn {
  display: inline-block;
  vertical-align: middle;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;   
  -webkit-box-align: center;   
      -ms-flex-align: center;   
          align-items: center;
  text-align: center;  
  background-color: #756157;
  text-transform: uppercase;
  border: 0; 
  text-decoration: none; 
  color: #ffffff;
  border-radius: 4px;
  cursor: pointer;
  word-break: break-word;
  font-family: "PT Sans", sans-serif;
}

.btn:disabled {
  background: #e5e5e5;  
}

.btn-apply {  
  padding: 8px 44px; 
  min-width: 191px;     
}

.btn-apply, .btn-favorites {
  background-color: #82b3d3; 
}

.btn-reset {  
  background-color: transparent;
  padding: 6px 44px; 
  border: 3px solid transparent; 
  margin-top: 32px;  
}

.btn-in-favorites {
  background-color: #7db54f;
  width: 140px; 
  padding: 8px;  
}

.btn-favorites {
 padding: 8px; 
 width: 140px;  
}

.hotel-card-button {
  padding: 8px 26px; 
  max-width: 140px; 
}

.btn-navigation {
  display: block;     
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  padding: 8px 34px;   
  margin-top: 14px;
  margin-left: 20px;   
}

.btn-find {
  display: block;
  text-decoration: none;
  color: #ffffff;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  padding: 8px 50px;   
  width: 276px;  
  margin: 0 auto; 
}

.newsletter-btn {
  padding: 0;
  padding: 8px 50px;
  font-style: normal;
  background-color: #82b3d3;
  font-size: 20px;
  line-height: 36px;
  width: 232px;
  color: #ffffff;
  border: 0;  
  border-radius: 0 4px 4px 0;  
}

.newsletter input:hover, .newsletter input:focus {
  background: #e6e6e6;
}

.newsletter input:not(:-moz-placeholder-shown) {
  outline: 2px solid #000000;  
}

.newsletter input:not(:-ms-input-placeholder) {
  outline: 2px solid #000000;  
}

.newsletter input:not(:placeholder-shown) {
  outline: 2px solid #000000;  
}

.btn-navigation:hover, .btn-find:hover, .hotel-card-button:hover {
  background: #615048;
}
.btn-navigation:focus, .btn-find:focus, .hotel-card-button:focus { 
  background: #615048;
}

.btn-navigation:active, .btn-find:active, .hotel-card-button:active { 
  color: rgba(255, 255, 255, 0.3);
}

.newsletter-btn:not(:disabled):hover, .btn-apply:hover, .btn-favorites:not(:disabled):hover {
  background: #68a2ca;
}

.newsletter-btn:not(:disabled):focus, .btn-apply:focus, .btn-favorites:not(:disabled):focus {
  background: #68a2ca;
}

.newsletter-btn:not(:disabled):active, .btn-apply:not(:disabled):active, .btn-favorites:not(:disabled):active {
  color: rgba(255, 255, 255, 0.3);
}

.btn-favorites:disabled {
  background-color: #e5e5e5;
}

.btn-apply:disabled {
  opacity: 0.1;
  background-color: transparent;
}

.newsletter-btn:disabled {
  background-color: #e5e5e5;
}

.btn-in-favorites:not(:disabled):hover {
  background: #6c9e42;
}

.btn-in-favorites:not(:disabled):focus {
  background: #6c9e42;
}

.btn-in-favorites:not(:disabled):active {
  color: rgba(255, 255, 255, 0.3);
}

.btn-in-favorites:disabled {
  background-color: #e5e5e5;
}

.btn-reset:hover {
  opacity: 0.6;
}

.btn-reset:focus {
  border: 3px solid #83b3d3;
  border-radius: 4px;
}

.btn-reset:not(:disabled):active {
  color: rgba(255, 255, 255, 0.3);
}

.btn-reset:disabled {
  opacity: 0.1;
  background-color: transparent;
}
/*Header*/
.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;  
}

.page-header-logo {
  position: relative;
  z-index: 1;
}

.navigation-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;
  width: 450px;
  margin-left: 30px;
}

.navigation-user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 312px;
  max-height: 64px;
  margin-left: auto;
}

.navigation-item {
  list-style-type: none;
}

.navigation-link {  
  display: inline-block;
  vertical-align: middle;
  position: relative;
  line-height: 24px;
  font-size: 20px;
  font-weight: 700;
  text-align: center; 
  text-decoration: none;
  color: inherit;    
}

.navigation-list .navigation-link {
  padding: 20px 16px;
}

.navigation-user .navigation-link {    
  min-width: 20px;
  padding: 22px 12px;
  position: relative;
}

.navigation-link-number {    
  position: absolute;
  content: "";
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
  text-align: center;
  background: #7db54f;
  border-radius: 10px;  
  padding: 5px 4px;
  left: 50%;
  bottom: 50%;
  color: #ffffff; 
}

.navigation-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.navigation-link-current {
  position: relative;
}

.navigation-link-current::after {
  position: absolute;
  content: "";
  right: 16px;
  left: 16px;
  top: 64px;
  height: 2px;
  background-color: #756257;
}

/*Main*/
.intro-index {  
  position: relative;
  background-color: #83B3D3;  
  background-image: url("../images/index-background.jpg"); 
  background-repeat: no-repeat;   
  -webkit-box-sizing: border-box;   
          box-sizing: border-box; 
  width: 1200px;
  height: 485px;
  margin-top: -8px;
}

.intro-index::after {
  content: url("../images/icons/divider.svg");
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 57px; 
}

.main-logo {
  display: block;
  margin: 0 auto;
  padding-top: 51px; 
  padding-bottom: 25px;
}

/*advantages*/
.advantages-title {
  margin: 0;
  margin-top: 68px;
  margin-bottom: 25px;  
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;  
}

.advantages-discription { 
  margin-top: 0;
  margin-bottom: 90px; 
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;    
}

.advantages-list {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.advantage {
  list-style-type: none;
  text-align: center;
  width: 400px;  
  display: -webkit-box;  
  display: -ms-flexbox;  
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;  
  -webkit-box-pack: center;  
      -ms-flex-pack: center;  
          justify-content: center;
}

.advantage:nth-child(2n) {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantage-center {
  width: 230px;
  margin-top: 112.5px;
  margin-bottom: 112.5px;  
  display: -webkit-box;  
  display: -ms-flexbox;  
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; 
}

.advantage-title { 
  position: relative;
  margin: 0; 
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin-bottom: 62px;
}

.advantage-description {
  margin: 0;
  color: #333333;  
}

.advantage-blue-block {  
  display: -webkit-box;  
  display: -ms-flexbox;  
  display: flex;  
  -ms-flex-wrap: wrap;  
      flex-wrap: wrap;  
}

.advantage-blue {    
  background-color: #82b3d3;
  color: #ffffff;
  text-align: center;
  width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;  
  -webkit-box-align: center;  
      -ms-flex-align: center;  
          align-items: center;  
  -webkit-box-pack: center;  
      -ms-flex-pack: center;  
          justify-content: center;
}

.advantage-blue-center {
  width: 230px;   
  display: -webkit-box;   
  display: -ms-flexbox;   
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;  
}

.advantage-blue-tittle {
  position: relative;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0;
  margin-bottom: 62px;
}

.advantage-title-border::before, .advantage-title-border-2::before {
  position: absolute;
  content: ""; 
  width: 60px;
  height: 2px;
  top: 86px;
  left: 85px;
}

.advantage-title-border::before {
  background: rgba(255, 255, 255, 0.3);
}

.advantage-title-border-2::before {
  background: rgba(0, 0, 0, 0.3);
}

.advantage-blue-description {
  margin: 0;
}

/*service*/
.service-title {
  margin: 0;
  margin-top: 64px;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.service-discription { 
  margin: 0;
  margin-top: 20px;
  margin-bottom: 64px; 
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}

.service-list {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;  
  -webkit-box-pack: justify;  
      -ms-flex-pack: justify;  
          justify-content: space-between;    
}

.service-item {
  text-align: center;
  list-style-type: none;  
  width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;  
  -webkit-box-pack: center;  
      -ms-flex-pack: center;  
          justify-content: center;
}

.service-item-picture {
  margin-right: auto;
  margin-left: auto;
  max-width: 75px;
  max-height: 72px;
  margin-bottom: 30px;  
}

.service-item-picture-home {
  background-image: url("../images/icons/service-list/");
  background-repeat: no-repeat; 
}

.service-center {
  width: 230px;
  margin-top: 81px;
  margin-bottom: 81px;  
  display: -webkit-box;  
  display: -ms-flexbox;  
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; 
}

.service-item:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.12);
}

.service-item-title {
  margin: 0;
  font-size: 24px;
  line-height: 28px;  
  text-transform: uppercase;
  margin-bottom: 30px;
}

.service-item-description {
  color: #333333;
  margin: 0;
}

/*find-hotel*/
.find-hotel {
  text-align: center;
  margin-bottom: 96px;  
}

.find-hotel-title {
  margin: 0;
  margin-top: 96px;
  font-size: 30px;
  line-height: 36px;  
  text-transform: uppercase;
}

.find-hotel-description {
  margin: 0;
  font-size: 22px;
  line-height: 26px;  
  color: #333333;
  margin-top: 20px;
  margin-bottom: 54px;
}

/*subscribe*/
.subscribe {
  background: #83b3d3 url("../images/subscribe.jpg") no-repeat;
  background-size: 100% 100%;
  color: #ffffff;
  text-align: center;  
}

.newsletter {
  padding-bottom: 104px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.field {
  font-size: 18px;
  line-height: 24px;
  font-family: "PT Sans", sans-serif;
  padding: 14px 20px;
  width: 412px;
  background: #f2f2f2;
  border: 0;
  border-radius: 4px 0 0 4px; 
}

.field:disabled {
  opacity: 0.2;
}

.subscribe-title {
  margin: 0;
  padding-top: 96px;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase; 
}

.subscribe-description {
  margin: 0;
  margin-top: 20px;
  margin-bottom: 54px;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400; 
  color: inherit;
}
/*footer*/
.flex-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;  
  -webkit-box-pack: justify;  
      -ms-flex-pack: justify;  
          justify-content: space-between;
  padding: 5px 0;
}

.footer-social-list {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style-type: none;
  max-width: 184px;
}

.footer-social-item {
  width: 47px;
  height: 40px; 
  position: relative;   
}

.button svg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #83b3d3;
}

.button:hover svg {
  fill: #68a2Ca;
}

.button:focus svg {
  fill: #68a2ca;
}

.button:active svg {
  fill: rgba(104, 162, 202, 0.3);
}

.page-footer {  
  margin-top: 40px;
  margin-bottom: 30px;
}
 
.footer-contacts-telephone {
  text-decoration: none;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  color: #000000;  
}

.footer-contacts-telephone:hover {
  color: #756157;  
}

.footer-contacts-telephone:focus {
  color: #756157;  
}

.footer-contacts-telephone:active {
  color: rgba(117, 97, 87, 0.3);  
}

a.footer-contacts-logo {
  display: block;
  margin-top: 4px;
}

.footer-contacts-logo:hover svg {
  fill: #756157;
}

.footer-contacts-logo:focus svg {
  fill: #756157;
}

.footer-contacts-logo:active svg {
  fill: rgba(117, 97, 87, 0.3);
}

/*catalog*/
.selection-section {
  background: #487eac url("../images/filter.jpg") no-repeat;
  background-size: 100% 100%;
  color: #ffffff;   
  margin-top: -9px;
}

.inner-header-title {
  margin: 0;
  padding: 0; 
  padding-top: 35px; 
  margin-bottom: 8px;
  font-size: 60px;
  line-height: 78px; 
}

.breadcrumbs {
  margin: 0;
  padding: 0;
  margin-bottom: 39px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-height: 21px;
}

.breadcrumbs-item {  
  list-style-type: none;
  position: relative;
}

.breadcrumbs-item:not(:last-child)::after {
  position: absolute;
  content: "";
  width: 8px;
  height: 20px;
  background: url("../images/icons/arrow-right.svg") no-repeat;
  background-position: center;
  margin-left: -18px;
  margin-top: 2px;
  background-size: 8px 15px;  
}

.breadcrumbs-link {  
  text-decoration: none;
  font-size: 16px;  
  margin-right: 28px; 
  text-decoration: none;
  color: #ffffff; 
}

.breadcrumbs-house-link { 
  width: 13px; 
  height: 15px;  
  display: inline-block;
  background-image: url("../images/icons/home.svg");
  background-repeat: no-repeat; 
  vertical-align: middle;
  margin-right: 28px;  
}

.breadcrumbs-house-link:hover {  
  opacity: 0.6;   
}

.breadcrumbs-house-link:active {  
  opacity: 0.3;  
}

.breadcrumbs-link-home:disabled {
  opacity: 0.1;
}

.catalog-filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; 
  -ms-flex-wrap: wrap; 
      flex-wrap: wrap;    
  padding-bottom: 70px;

}

.catalog-filter-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; 
  margin-right: 151px;
  padding-bottom: 3px; 
}

.catalog-filter-title {
  margin: 0; 
  padding: 0;
  font-size: 20px;
  line-height: 24px; 
  font-weight: 700; 
  margin-bottom: 32px;
}

.catalog-filter-group {   
  margin: 0;
  padding: 0;
  border: 0;     
}

.catalog-filter-group:first-child {   
  margin-right: 70px;
}

.field-from input, .field-up input {    
  font-family: "PT Sans", sans-serif; 
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  font-weight: 700;   
  border: 0;  
  padding: 0;
  padding: 10px 40px 10px 19px;  
  width: 78px;
  background: #f2f2f2;
  border: 3px solid transparent;     
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none; 
}

input[type="number"],
input[type="number"]:hover,
input[type="number"]:focus {
    -webkit-appearance: none;
            appearance: none;
    -moz-appearance: textfield;
}

.field-from, .field-up {
  position: relative;
}

.field-from::before { 
  position: absolute;
  content: "от";
  top: 12px;
  right: 20px;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #a9a9a9; 
}

.field-up::before { 
  position: absolute;
  content: "до";
  top: 12px;
  right: 20px;
  font-size: 18px;
  line-height: 24px;
  color: #a9a9a9; 
}

.field-from input {  
  border-radius: 4px 0 0 4px; 
  margin-right: 2px;  
}

.field-up input {
  border-radius: 0 4px 4px 0; 
}

.field-from input:not(:disabled):hover, .field-up input:hover {  
  background-color: #e6e6e6; 
}

.field-from input:not(:disabled):focus, .field-up input:focus {  
  background: #e6e6e6;
  outline: 3px solid #83b3d3;  
}

.field-from input:not(:disabled):active, .field-up input:active {  
  border: 3px solid #000000;  
}

.field-from input:disabled, .field-up input:disabled {  
  opacity: 0.2;  
}

.wrapper-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;  
}

.catalog-filter-list {
  margin: 0;
  padding: 0;
}

.catalog-filter-item {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.catalog-filter-item:not(:last-child) {
  margin-bottom: 16px;
}

.catalog-filter-item {
  border: 0;
}

.catalog-filter-part_2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;     
  width: 288px;  
}

.catalog-filter-delimiter_2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;   
  margin-top: 56px;
  margin-left: auto;
  max-width: 191px;
}

.control {
  line-height: 23px;
  position: relative;
  display: block;
  padding-left: 36px;
}

.control-mark {
  position: absolute;
  top: 2px;
  left: 1px;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 4px;
}

.control-input:not(:disabled):hover ~ .control-label {
  opacity: 60%;
}

.control-input:not(:disabled):hover + .control-mark {
  opacity: 60%;
}

.control-input:not(:disabled):active ~ .control-label {
  opacity: 30%;
}

.control-input:not(:disabled):active + .control-mark {
  opacity: 30%;
}

.control-input:disabled + .control-mark {
  opacity: 10%;
}

.control-input:disabled ~ .control-label {
  opacity: 10%;
}

.control-input[type="checkbox"]:checked + .control-mark::after {
  content: "";
  background-image: url("../images/icons/check-mark.svg");
  background-size: contain;
  background-position: center;
  position: absolute;
  top: 5px;
  left: 4px;
  width: 12px;
  height: 10px;
}

.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  background-color: #3f5e72;
  border-radius: 50%;
  content: "";
}

.control-input:not(:disabled):focus + .control-mark {
  outline: 3px solid #81b2d2;
}

.range-scale {
  position: relative;
  height: 4px;
  margin-top: 42px;
  background-color: #6e7577;
  border-radius: 2px;
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: #ffffff;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 5px;
  cursor: pointer;
}

.toggle-min {
  top: -8px;  
}

.toggle-max {
  top: -8px;
  right: 0;
}

.hotel-filter {
  margin-top: 49px;
  position: relative;
}

.hotel-filter::after {
  position: absolute;
  content: "";
  border: 1px solid #e6e6e6;  
  right: 0;
  left: 0;
  bottom: 100px;   
}

.select-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;  
  margin-bottom: 38px;
  min-height: 50px;
}

.search {
  margin: 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin-top: 8px;
}

.select-control {
  font-family: "PT Sans", sans-serif;
  color: #333333;
  font-size: 18px;
  line-height: 21px;
  padding: 12px 20px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  max-height: 49px;
  width: 292px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-image: url("../images/icons/arrow-down.svg");
  background-repeat: no-repeat;
  background-color: #ffffff;
  background-position: right 20px center;  
  padding-right: 40px;
  margin-left: 200px;
}

.select-control:hover {
  border: 2px solid #68a2ca; 
}

.select-control:focus {
  border: 2px solid #68a2ca;  
}

.select-control:hover {
  border: 2px solid #3f5e72;  
}

.select-control:disabled {
  border: 2px solid rgba(0, 0, 0, 0.3);
  color: rgba(0, 0, 0, 0.3);
}

.card-size-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; 
  margin-left: auto;  
}

.card-size-block-element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 46px;
  min-height: 46px;
  background-color: transparent;
}

.card-size-block-element:not(:last-child) {
  margin-right: 8px;
}

.card-size-block-element:nth-child(1) {
  border: 2px solid #000000;
  border-radius: 4px;
}

.card-size-block-element:not(:nth-child(1)) {
  border: 2px solid #e5e5e5;
  border-radius: 4px;
}

.card-size-block-element:focus {  
  border: 2px solid #68a2ca;
}

.card-size-block-element:active {  
  border: 2px solid #000000;
}

.card-size-block-element:hover {
  border: 2px solid #000000;
}

.hotel-card-link {  
  text-decoration: none;
  color: #000000; 
}

.hotel-card-image {
  padding: 0;
  margin: 0;
  display: block;
}

.hotels-list {  
  padding: 0;
  margin: 0;
  margin-bottom: 80px; 
  display: -ms-grid; 
  display: grid;
  -ms-grid-columns: 340px 20px 340px 20px 340px;
  grid-template-columns: repeat(3, 340px);
  gap: 20px;
}

.hotel-card {
  width: 340px;  
  list-style-type: none;  
  border: 1px solid #e6e6e6;  
}

.hotel-card-content {
  padding: 19px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hotel-card-type-content {
  margin-bottom: 16px;
}

.hotel-card-title {  
  font-size: 24px;
  line-height: 28px;
  margin: 0;
  margin-bottom: 16px;
  margin-top: 16px;
}

.hotel-card-type, .hotel-card-price, .hotel-card-rating {
  color: #333333;
}

.hotel-card-price {
  float: right;
}

.buttons-cards-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; 
  margin-bottom: 16px; 
}

.hotel-card-rating-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; 
}

.rating-star {  
  background-image: url("../images/icons/star.svg");
  background-repeat: no-repeat;
  width: 19px;
  height: 19px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-right: 6px;
}

.hotel-card-rating  {
  font-size: 16px;
  line-height: 20px;  
  text-transform: uppercase;  
  background-color: #f2f2f2;
  border-radius: 4px;
  float: right; 
  padding: 9px 22px 8px 23px; 
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none; 
  margin-bottom: 60px;  
}

.pagination-item {
  min-width: 60px;
  min-height: 60px;  
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-link {
  display: block;
  min-width: 23px;
  min-height: 36px;
  padding: 12px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;  
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-decoration: none;
  background-color: #82b3d3;
  color: #ffffff;
  border-radius: 4px;
}

.pagination-current {
  color: #000000;
  background-color: #f2f2f2;
}

.pagination-points {
  background-color: transparent;
  color: #000000;
}

.pagination-link:hover {
  background: #68a2ca;
}

.pagination-link:focus {
  background: #68a2ca;
}

.pagination-link:active {  
  color: rgba(255, 255, 255, 0.3);  
}

.pagination-current:hover {  
  background-color: #f2f2f2;
}

.pagination-current:active {  
  color: #000000;
}

.subscribe-2 {  
  text-align: center;
  padding-top: 96px;   
}

.subscribe-title-2 {
  margin: 0;   
  padding-bottom: 20px;  
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;  
}

.subscribe-description-2 {
  margin: 0;
  padding-bottom: 54px;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}
/*modal*/
.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);  
}

.modal-container-close {
  display: none;
}

.modal {  
  margin: auto;
  padding: 64px 70px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
          box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
}

.modal-search {
  width: 577px;
}

.modal-content {
  position: relative;  
}

.modal-title {
  margin: 0;
  margin-bottom: 64px;
  color: #000000;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.modal-close-button {
  position: absolute;
  content: "";
  padding: 0;
  top: 0;
  right: -18px;
  width: 52px;
  height: 52px;
  background-color: #f2f2f2;
  border: transparent;
  border-radius: 50%;  
  cursor: pointer;  
} 

.modal-close-button:not(:disabled):hover,
.modal-close-button:not(:disabled):focus {
  background-color: #e6e6e6;
}

.modal-close-button:not(:disabled):active {
  fill-opacity: 0.3;  
}

.modal-close-button:disabled {
  opacity: 20%;
}

.field-group {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;    
}

.field-group label {
  display: inline-block;
  vertical-align: middle;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.field-group svg:not(:last-child) {
  position: absolute;
  right: 20px;
  top: 14px;
  fill-opacity: 0.3;
}

.search-form-field {   
  padding: 12px 45px 12px 20px;
  border-radius: 4px;
  width: 375px;   
  font-weight: 700;    
  margin-left: auto;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}
 
 .search-form-field:hover {
  background: #E6E6E6;
}

.search-form .field-group {
  margin: 0;
  margin-bottom: 48px;
}

.form-message::after, .form-message-error::after {
  position: absolute;  
  left: 157px;
  top: 52px;
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;   
}

.form-message::after {
  color: #333333;
  content: "На эти даты есть свободные номера. Пока есть.";
}

.form-message-error::after {
  color: #FF5757;
  content: "Мы не можем отправить вас в прошлое";
}

.field-group-half {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.field-group-half:first-child {
  margin-right: 88px;
}

.number-adults {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; 
  position: relative;
  max-height: 48px;
  margin-left: 46px;
}

.modal-button-min svg{
  fill: rgba(117, 97, 87, 0.3);
}

.modal-button-min:not(:disabled):hover svg  {
  fill: #000000;
}

.modal-button-min:not(:disabled):active svg  {
  fill: rgba(117, 97, 87, 0.3);
}

.modal-button-max svg{
  fill: rgba(117, 97, 87, 0.3);
}

.modal-button-max:not(:disabled):hover svg  {
  fill: #000000;
}

.modal-button-max:not(:disabled):active svg  {
  fill: rgba(117, 97, 87, 0.3);
}

.modal-button-min:disabled, .modal-button-max:disabled {
  opacity: 0.2;
}

.number-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;  
}

.count-field {
  background: #f2f2f2;
  border-radius: 4px;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  text-align: center;    
  width: 90px;
  padding: 14px 10px;
  margin: 0;
  border: none;
}

.modal-button-min {
  position: absolute;
  content: "";  
  width: 40px;
  height: 48px;
  left: 0;    
  padding: 0;
  border-radius: 4px;
  border: 0;
}

.modal-button-max {
  position: absolute;
  content: "";  
  width: 40px;
  height: 48px;
  right: 0;
  padding: 0;
  border: 0;
  border-radius: 4px;
}

.modal-button-min svg {
  margin-bottom: 5px;
}

.appointment-submit {
  padding: 18px;
  width: 100%;
  background: #83b3d3;
  border-radius: 10px;  
  font-style: normal;  
  font-size: 20px;
  line-height: 24px;
}

.appointment-submit:not(:disabled):hover,
.appointment-submit:not(:disabled):focus {
  background-color: #68a2ca;
}

.appointment-submit:not(:disabled):active {
  background-color: #68a2ca;
  color: rgba(255, 255, 255, 0.3);
}

.appointment-submit:active {
  opacity: 0.2;
}

.tooltip {
  margin-top: 12px;
}

.tooltip-toggle {
  background: #83b3d3;
  border: none;
  border-radius: 50%;   
  margin-left: 10px;  
  width: 26px;
  height: 26px;
}

.tooltip-text {
  position: absolute;
  background: #333333;
  -webkit-box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  color: #ffffff;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: none;  
  padding: 20px 18px 18px 22px;    
  width: 216px;  
  top: 54px;
  right: 42px;
  display: none;  
}

.tooltip-text::after {
  content:"";
  background-image: url("../images/icons/tooltip-arrow.svg");
  width: 19px;
  height: 9px;
  position:absolute;  
  top: -9px;  
  left: 118px;  
}

.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus + .tooltip-text {
  display: block;
}